.catalog
    background-color: #f5f6f8
    padding-top: 105px
    padding-bottom: 105px
    &-block
        display: flex
        justify-content: space-between
        flex-wrap: wrap
    &__card
        margin-bottom: 1px
    &-card
        max-width: 570px
        position: relative
        overflow-y: hidden
        &:hover
            .catalog-card__buttons
                transform: translateY(0)
                opacity: 1
        &__buttons
            display: flex
            position: absolute
            bottom: 20px
            right: 22px
            transition: all 0.5s ease
            opacity: 0
            transform: translateY(100%)
        &__button
            height: 30px
            padding: 10px
            text-transform: uppercase
            border: none
            font-size: 11px
            cursor: pointer
        &__tag
            position: absolute
            top: 22px
            left: 20px
            padding: 10px
            font-size: 12px
            text-transform: uppercase
            color: #fff
            background-color: rgba($primary, 0.6)
        &__image
            display: block
    &__link
        text-align: center
        margin-top: 60px
    &__link-more
        display: inline-block
    &__description
        display: block
        margin-top: 20px
@media (max-width: 1199px)
    .catalog
        &-block
            justify-content: center
        &-card
            max-width: 470px
            &__buttons
                bottom: 17px
                right: 18px
@media (max-width: 768px)
    .catalog
        &-block
            &-card
                &__image
                    height: 200px